{% extends '_base.html' %}


{% block content %}
<div class='mt-3'>
    <section id='title'>
        <h5 class='text-secondary'>記事一覧</h5>    
        
        <!-- リンクのナビゲーション -->
        <ul class='nav justify-content-end'>
            <li class='nav-item'><a href="{% url 'blog:list' %}" class='nav-link'>全ての記事</a></li>
            <li class='nav-item'><a href=".?q=article" class='nav-link' 
                title='読み物としての記事'>Article</a></li>
            <li class='nav-item'><a href=".?q=short_code" class='nav-link'
                title='プログラムに関する要約記事'>ShortCode</a></li>
        </ul>
    </section>
</div>

<!-- 本体row -->
<div class='row'>

    <div class='col-md-9'>
        <section id='bloglist'>
        {% for object in object_list %}
            
            <div class='my-3 px-1 py-1'>
                <span class='text-secondary'><small>{{ object.project.name }}</small></span>
                <h6>
                    <!-- タイトルはリンク -->
                    <a href="{% url 'blog:detail' object.pk %}">{{ object.title }}</a>
                    <!-- 下書きのもののみ目印をつける。自分用。 -->
                    {% if object.get_status_display == '下書き' %}
                    <span class='border rounded border-secondary text-secondary px-1 font-weight-light'>
                        <small>
                            {{ object.get_status_display }}
                        </small></span>
                    {% endif %}                
                    <!-- LIMITEDの場合、LIMITEDタグをつける -->
                    {% if object.get_release_condition_display == 'LIMITED' %}
                    <span class='border rounded border-danger text-danger ml-2 px-1 font-weight-light'>
                        <small>{{ object.get_release_condition_display }}</small></span>
                    {% endif %}   
                </h6>
                
                {% if object.description %}
                <p class='my-0'><small>{{ object.description }}</small></p>
                {% endif %}

                <!-- Articleは青、ShortCodeは黄色にする -->
                {% if object.get_post_type_display == 'Article' %}
                <span class='badge badge-primary font-weight-light'>{{ object.get_post_type_display }}</span>
                {% else %}
                <span class='badge badge-warning font-weight-light'>{{ object.get_post_type_display }}</span>
                {% endif %}
                
                <!-- タグはバッヂでつける -->                            
                {% for tag in object.tags.all %}
                <span class='badge badge-pill badge-info font-weight-light'>{{ tag.name }}</span>    
                {% endfor %}    
                
            </div>


        {% endfor %}
            
        </section>
        <section id='pagination'>
            {% include 'pagination.html' %}
        </section>
    </div>


    <div class='col-md-3'>

        <section id='menu'>
            <!-- プロジェクトのリスト -->
            <div class='list-group my-3'>
                <li class="list-group-item list-group-item-secondary">Projects</li>
                {% for project in project_list %}
                <a href="{% url 'blog:project' project.slug %}" 
                class='list-group-item list-group-item-action'>{{ project.name }} 
                    <!-- LIMITEDの場合、LIMITEDタグをつける -->
                    {% if project.get_release_condition_display == 'LIMITED' %}
                    <span class='border rounded border-danger text-danger ml-2 px-1 font-weight-light'>
                        <small>{{ project.get_release_condition_display }}</small></span>
                    {% endif %}   
                </a>
                {% endfor %}
                <a href="#" class='list-group-item list-group-item-action'> &gt;&gt;&gt; 全てのプロジェクトをみる</a>    
            </div>

            <!-- タグのリスト -->
            <div class='list-group my-3'>
                <li class="list-group-item list-group-item-secondary">Tags</li>
                <li class='list-group-item'>

                    <h5>
                        {% for tag in tag_list %}
                        <span class='badge badge-pill badge-info font-weight-light'>
                            <a href="{% url 'blog:tag' tag.slug %}" class='text-white'>
                                {{ tag.name }}
                            </a></span>
                        {% endfor %}
                    </h5>
                    
                    <!-- <a href="#" class='list-group-item list-group-item-action'>{{ tag.name }}</a>     -->
                </li>
                <a href="#" class='list-group-item list-group-item-action'> &gt;&gt;&gt; 全てのタグをみる</a>    
            </div>
        </section>
    </div>

</div>
<!-- 本体row end -->



{% endblock content %}
    