<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'general:index' %}">Asemolotion Blog</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber"
                aria-expanded="false"
                aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">     
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'general:index' %}">Home</a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'general:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'general:contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:list' %}">記事一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">管理</a>
                </li>
                
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/blog/post/add/">記事作成</a>
                </li>                    
                {% endif %}
                    
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>